<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aronskiy_anton.p2p">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".P2PApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controllers.freelancer.FreelancerActivity"
            android:label="@string/freelancer_activity_title"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controllers.employer.EmployerActivity"
            android:label="@string/employer_activity_title"
            android:theme="@style/AppTheme.OverlapSystemBar">

        </activity>

        <activity android:name=".controllers.deals.DealsActivity"
            android:label="@string/deals"
            android:theme="@style/AppTheme.OverlapSystemBar">
        </activity>

    </application>

</manifest>