<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aronskiy_anton.p2p">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".P2PApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name=".controllers.freelancer.FreelancerActivity"
            android:theme="@style/AppTheme.NoToolBar"
            android:label="@string/freelancer_activity_title">
        </activity>

        <activity android:name=".controllers.employer.EmployerActivity"
            android:theme="@style/AppTheme.NoToolBar"
            android:label="@string/employer_activity_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controllers.deals.DealsActivity"
            android:theme="@style/AppTheme.NoToolBar"
            android:label="@string/deals">
        </activity>

        <activity android:name=".controllers.deal.DealActivity"
            android:theme="@style/AppTheme.NoToolBar"
            android:label="@string/deal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controllers.deals.DealsActivity" />
        </activity>
    </application>

</manifest>