<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aronskiy_anton.p2pui" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:label="@string/app_name" android:name=".bankcard.BankCardActivity"/>
    </application>

</manifest>
